@use "../mixins" as *;
@use "../variables" as *;

.safe {
    padding-bottom: 100px;
}

.safe__big-box {
    padding: 24px 17px 24px 20px;
    border-radius: 20px;
    border: 1.5px solid #e5e7ea;
    background: $main-white-color;
    background-image: url(../images/Ellipse.svg);
    background-repeat: no-repeat;
    background-position: calc(50% + 126px) calc(50% - 342px);
}

.safe__small-box {
    width: 180px;
}

.safe__title {
    color: $main-title-color;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 6px;
}

.safe__text {
    color: $main-link-color;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    margin-top: 0;
    margin-bottom: 40px;
}

.safe__list {
    @include lists;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.safe__item {
    width: 100%;
    border-radius: 16px;
    background-color: $main-link-bg;
    padding: 70px 30px 14px 14px;
    position: relative;
    transition: color 0.4s linear, background-color 0.4s linear;
}

.safe__item:hover {
    background-color: $main-green-color;
}

.safe__item:hover .safe__bold {
    color: $main-white-color;
}

.safe__item:hover::after {
    background-image: url(../images/Flaskalt.svg);
}

.safe__item--two:hover::after {
    background-image: url(../images/Heartbeatwhite.svg);
}

.safe__item--there:hover::after {
    background-image: url(../images/Folderlockwhite.svg);
}

.safe__item::after {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url(../images/falsk.svg);
    position: absolute;
    top: 20px;
    right: 20px;
}

.safe__item--two::after {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url(../images/Heartbeat.svg);
    position: absolute;
    top: 20px;
    right: 20px;
}

.safe__item--there::after {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url(../images/Folderlock.svg);
    position: absolute;
    top: 20px;
    right: 20px;
}

.safe__bold {
    color: $main-title-color;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 157.143% */
}

.safe__img {
    display: none;
}

@media only screen and (min-width: 340px) {
    .safe__big-box {
        background-position: calc(50% + 139px) calc(50% - 349px);
    }

    .safe__title {
        font-size: 24px;
    }

    .safe__text {
        font-size: 12px;
    }

    .safe__small-box {
        width: 184px;
    }

    .safe__bold {
        font-size: 14px;
    }
}

@media only screen and (min-width: 400px) {
    .safe__big-box {
        background-position: calc(50% + 164px) calc(50% - 322px);
    }
}

@media only screen and (min-width: 450px) {
    .safe__big-box {
        background-position: calc(50% + 200px) calc(50% - 322px);
    }

    .safe__small-box {
        width: 200px;
    }

    .safe__title {
        font-size: 26px;
    }

    .safe__text {
        font-size: 14px;
    }

    .safe__bold {
        font-size: 18px;
    }
}

@media only screen and (min-width: 500px) {
    .safe__item {
        max-width: 430px;
    }

    .safe__big-box {
        background-position: calc(50% + 241px) calc(50% - 304px);
    }
}

@media only screen and (min-width: 650px) {
    .safe__item {
        max-width: 430px;
    }

    .safe__big-box {
        background-position: calc(50% + 300px) calc(50% - 304px);
    }

    .safe__text {
        font-size: 17px;
    }
}

@media only screen and (min-width: 750px) {
    .safe__item {
        max-width: 140px;
    }

    .safe__big-box {
        background-image: url(../images/Ellipsetablet.svg);
        background-position: calc(50% + 230px) calc(50% - 29px);
        position: relative;
    }

    .safe__list {
        flex-direction: row;
        column-gap: 8px;
    }

    .safe__item {
        padding: 63px 10px 14px 10px;
        height: 100%;
    }

    .safe__item:first-child {
        padding: 69px 10px 8px 10px;
    }

    .safe__item:nth-child(2) {
        padding: 85px 10px 14px 10px;
    }

    .safe__box {
        max-width: 466px;
    }

    .safe__text {
        font-size: 16px;
        margin-bottom: 35px;
    }

    .safe__bold {
        font-size: 14px;
    }

    .safe__small-box {
        width: auto;
    }
    .safe__img {
        display: block;
        width: 255px;
        height: 304px;
        position: absolute;
        top: 91px;
        right: calc(50% - 363px);
    }
}

@media only screen and (min-width: 830px) {
    .safe__title {
        font-size: 36px;
    }

    .safe__big-box {
        padding: 30px 17px 30px 24px;
    }

    .safe__text {
        margin-right: 19px;
    }

    .safe__img {
        top: 116px;
        right: calc(50% - 363px);
    }
}

@media only screen and (min-width: 1100px) {
    .safe__title {
        font-size: 36px;
        margin-bottom: 10px;
    }

    .safe {
        padding-bottom: 160px;
    }

    .safe__big-box {
        padding: 40px 17px 32px 32px;
    }

    .safe__item {
        max-width: 200px;
        padding: 79px 15px 15px 15px;
    }

    .safe__item:first-child {
        padding: 101px 15px 15px 15px;
    }

    .safe__item:nth-child(2) {
        padding: 101px 15px 15px 15px;
    }

    .safe__box {
        max-width: 590px;
    }

    .safe__bold {
        font-size: 16px;
    }

    .safe__text {
        margin-right: 0;
        margin-bottom: 94px;
    }

    .safe__img {
        width: 373px;
        height: 438px;
        top: 35px;
        right: calc(50% - 522px);
    }

    .safe__big-box {
        background-position: calc(50% + 335px) calc(50% - 75px);
        background-size: 300px 300px;
    }
}
